*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
#page1{
    height: 100vh;
    width: 100vw;
    background-color: #C4BCB2;
    position: relative;
}

#nav{
    height:120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #222;
}

#nav img{
    height: 90px;
    width: 15%;

}
#page1 h1{
    font-size: 550px;
    font-weight: 100;
    background-color: #222;
    color: #C4BCB2;
}